---
name: Version-handling check

on:
  pull_request:

permissions: {}

jobs:
  versions:
    name: Versions
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        version: ['v0.7.0', 'v0.8.0', 'v0.12.0', 'rc', 'latest', 'devel', 'release-0.8', 'release-0.12']
    steps:
      - name: Check out the repository
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b

      - name: Download and install subctl
        run: VERSION="${{ matrix.version }}" ./getsubctl.sh

      - name: Check we got subctl
        run: ~/.local/bin/subctl version

      - name: Check we got the right version (specific)
        if: startsWith(matrix.version, 'v')
        run: |
          [ "$(~/.local/bin/subctl version)" = "subctl version: ${{ matrix.version }}" ]

      - name: Check we got the right version (rc)
        if: matrix.version == 'rc'
        run: |
          [[ "$(~/.local/bin/subctl version)" =~ ^"subctl version: v"[0-9.]+-rc[0-9]+$ ]]

      - name: Check we got the right version (devel/release)
        if: matrix.version == 'devel' || startsWith(matrix.version, 'release')
        run: |
          [[ "$(~/.local/bin/subctl version)" =~ ^"subctl version: "([a-z]+-)?${{ matrix.version }}(-[0-9]+-g[a-f0-9]+)?$ ]]
